* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#weather-app {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: stretch;
}

#weather-app > .left-container,
#weather-app > .right-container {
  padding-top: 7rem;
}

#weather-app > .left-container {
  height: 100vh;
  flex-grow: 1;
  background-color: rgb(255, 166, 0);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.left-container > * {
  padding-right: 11rem;
  padding-left: 1.6rem;
}

#weather-app > .right-container {
  flex-grow: 1;
  color: rgb(255, 166, 0);
  height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-container > * {
  padding-left: 11rem;
}

h1[class$='-header'] {
  font-size: 5.5rem;
  height: 6.5rem;
}

h1.current-header {
  text-align: right;
  border-bottom: 1px solid white;
}

div.current > h2.city-title {
  padding-top: 2rem;
  font-size: 2.3rem;
}

div.current > div[class^='current-temp'] {
  font-size: 8rem;
  font-weight: 600;
  text-align: right;
  padding-right: 7rem;
  padding-top: 2.5rem;
}

div.current > div.current-tempC {
  color: rgb(255, 227, 176);
}

div.current > div[class^='current-temp'] > div {
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  right: 0;
  bottom: 0;
}

div.left-container > h2.input-header {
  font-size: 1.8rem;
  font-weight: 400;
  padding-right: 17rem;
  padding-top: 4rem;
}

div.left-container > input {
  background-color: transparent;
  border: none;
  font-size: 4rem;
  width: 32rem;
  color: rgb(255, 227, 176);
}

div.left-container > input:focus {
  outline: none;
}

h1.forecast-header {
  border-bottom: 1px solid orange;
  text-align: right;
  padding-right: 1.6rem;
}

h3.forecast-heading {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  font-size: 2.3rem;
  font-weight: 300;
}

div.forecast-body {
  display: flex;
}

div.forecast-details > * {
  font-size: 1.2rem;
}

.forecast-description {
  text-transform: capitalize;
}

div.forecast-icon > * {
  font-size: 6rem;
  padding-left: 3rem;
}
